*{
    margin: 0;padding: 0;
}
h2{
    text-align: center;
    padding: 20px;
    background-color: rgb(47, 111, 215);
    color: rgb(247, 243, 243);

}
.container{
    height: 100vh;
    width: 99vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
img{
    padding: 10px;
    height: 30%;
    width: 30%;
    box-shadow: 2px 2px 8px ;

}
footer{
    text-align: center;
    background-color:grey ;
    
}